
*.vsidx
*.vsidx
*.vsidx
td1/.vs/td1/v17/.suo
*.cache
*.lock
*.props
*.json
*.editorconfig
*.cache
*.v2
*.dll
td1/.vs/td1/v17/.suo
td1/.vs/td1/FileContentIndex/847a8526-7ed9-4fac-92da-03ce57aa0c22.vsidx
td1/.vs/ProjectEvaluation/td1.projects.v7.bin
